/*Specification*/
body {
	padding: 0;
	margin: 0;
	font: 400 16px 'Ubuntu', sans-serif; 
	line-height: 1.4em;
	color: #000;
}

* {
	box-sizing: border-box;
}

ul, li {
	transition: all 0.5s ease;
	display: block;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6 {
	font: 700 19px 'Ubuntu', sans-serif;
	transition: all 0.5s ease;
	padding: 0;
	margin: 0;
}

p {
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
	color: #000;
	transition: all 0.5s ease;
}

img {
	max-width: 100%;
	object-fit: cover;
	cursor: pointer;
}

input {
	border: none;
	outline: none;
	margin: 0;
	padding: 0;
	font-family: inherit;
	border-color: transparent;
	transition: all 0.5s ease;
}

button {
	border: none;
	outline: none;
	cursor: pointer;
	border-color: transparent;
	transition: all 0.5s ease;
	margin: 0;
	padding: 0
}

.container {
	width: 1110px;
	margin: 0 auto;
}

.container_flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav a {
	color: #fff;
}

.btn {
	padding: 13px 0px 15px;
	background: #2BD828;
	color: #FFFFFF; 
	font-size: 15px;
	font-weight: 400;
	text-align: center;
	display: block;
	width: 200px;
	border-radius: 30px;
}

.btn:hover {
	background: #07CB03;
}

.text-style {
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	line-height: 1.58em;
}

/*Header*/

.header {
	background: linear-gradient(181.05deg, #0E0F11 0.24%, rgba(255, 255, 255, 0) 99.1%), url('../img/header-bg.png') no-repeat center top / cover;
    color: #fff;
}

.nav {
	border-bottom: 1px solid rgba(255, 255, 255, 0.48);
}

.logo {
	display: block;
	background: url('../img/logo.svg');
	width: 121px;
	height: 30px;
}

.menu__list {
	display: flex;
}

.menu__item a {
    display: block;
    padding: 32px 24px;
    border-bottom: 2px solid rgba(255,255,255,0);
}

.menu__item a:hover, 
.menu__item_active a {
	border-bottom: 2px solid #FFFFFF;
}

.call {
	font: 700 17px 'Ubuntu', sans-serif;
}

.offer-wrapper {
	padding: 142px 0 70px;
}

.offer__title {
	color: #fff;
	font-size: 48px;
	line-height: 1.2em;
	max-width: 830px;
}

.offer__intro {
	max-width: 390px;
	margin: 30px 0 30px;
}

.offer-down {
	background: url('../img/arrow-down.svg');
	width: 16px;
	height: 30px;
	display: block;
	margin-top: 162px;
	opacity: 0.7;
}

.offer-down:hover {
	opacity: 1;
}

/*Integration*/
.integration {
	padding: 103px 0 97px;
}

.section-info__title {
	font-size: 36px;
	color: #323232;
	margin-bottom: 20px;
}

.section-info__text {
	max-width: 561px;
}

.services {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 74px 0 78px;
}

.services__item {
    max-width: 500px;
    width: 48%;
	display: flex;
	margin-bottom: 51px;
}

.services__item:nth-last-child(-n + 2) {
	margin-bottom: 0;
}

.services__item:hover
.services__img {
	box-shadow: 0 0 30px rgba(0,0,0,0.2)
}

.services__img {
	border-radius: 0px 10px 10px 10px;
	margin-right: 30px;
}

.services__title {
	margin-top: 15px;
}

.services__text {
	font-size: 15px;
	margin-top: 15px;
}

.services__price {
	display: block;
	font-size: 15px;
	color: #07CB03;
	margin-top: 15px;
}

/*Section-portfolio*/

.section-portfolio {
	padding: 109px 0 125px;
	background: #F7F6F8;
}

.portfolio {
	margin-top: 78px;
	padding-bottom: 89px;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #B8B8B8;
}

.portfolio__item {
	max-width: 345px;
	width: 32%;
	position: relative;
}

.portfolio__img {
	display: block;
	border-radius: 15px;
}

.portfolio__overlay img {
	margin: auto;
	width: 30px;
	height: 30px;
}

.portfolio__overlay {
	position: absolute;
	display: flex;
	border-radius: 15px;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.4);
	opacity: 0;
}

.portfolio__item:hover
.portfolio__overlay {
	opacity: 1;
}

.achievements {
	margin-top: 50px;
	display: flex;
	justify-content: space-between;
}

.achievements__item {
	width: 100px;
	text-align: center;
}

.achievements__item:last-child {
	margin-right: 0px;
}

.achievements__digit {
	display: block;
	font-weight: bold;
	font-size: 36px;
	margin-bottom: 10px;
}

.rules {
	background: #F4EAFF;
	max-width: 801px;
	border-radius: 15px;
	margin: 65px auto -280px;
	position: relative;
	z-index: 2;
	padding: 55px 88px 36px;
	text-align: center;
}

.rules__text{
	margin: 21px 0 18px;
}

.rules__btn {
	margin: 0 auto;
}

/*Demonstration*/

.demonstration {
	padding: 280px 0 100px;
}

.section-info_video {
	text-align: center;
	margin-bottom: 75px;
}

.section-info__text_center {
	margin: 0 auto;
}

.video {
	max-width: 830px;
	margin: 0 auto;
	padding-bottom: 62px;
	border-bottom: 1px solid #E0E0E0;

}

.video-frame {
	display: block;
	width: 100%;
	height: 426px;
	border-radius: 10px;
	box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
}

/*Footer*/

.footer {
	background: #F7F6F8;
	padding: 100px 0;
}

.footer a {
	line-height: 1.58em;
	font-size: 14px;
}

.footer-content {
	display: flex;
	justify-content: space-between;
}

.contacts__list {
	margin: 42px 0;
}

.contacts__list-item {
	display: flex;
	align-items: center;
	margin-bottom: 30px;
	font-size: 14px;
}

.contacts__text {
	font-size: 14px;
}

.contacts__list-item:last-child {
	margin-bottom: 0px;
}

.contacts__icon {
	margin-right: 17px;
}

.contacts__list-item a {
	display: flex;
}

.social-network__list {
	display: flex;
	margin-top: 82px;
}

.social-network__list-item{
    margin-right: 22px;
}

.social-network__list-item a {
	color: #07CB03;
}

.mailing {
	margin: auto 0;
	max-width: 385px;
	width: 100%;
}

.mailing__form {
	align-items: center;
	display: flex;
	margin: 16px 0 23px;
	flex-shrink: 0;
}

.mailing__input {
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
	border-radius: 30px;
	width: 100%;	
	padding: 13px 45px 12px 33px;
	flex-shrink: 0;
}

.mailing__btn {
	background: url(../img/button-send.svg) no-repeat center;
	width: 45px;
	height: 45px;
	margin-left: -40px;
	flex-shrink: 0;
}

/*  Responsive  */

/* Large: 993px - 1200px */
@media (max-width: 1200px) {
	.container {
		max-width: 960px;
	}
}

/* Medium: 769px - 992px */
@media (max-width: 992px) {
	.container {
		max-width: 720px;
	}
	.call {
		display: none;
	}
	.offer-down {
		margin-top: 100px;
	}
	.services {
		flex-direction: column;
	}
	.services__item {
		width: auto;
		align-items: center;
	}
	.services__title {
		margin-top: 0;
	}
    .services__item:not(:last-of-type) {
    margin-bottom: 51px;
    }
    .portfolio {
    	flex-wrap: wrap;
    }
    .portfolio__item {
    	width: 48%;
    	margin-bottom: 30px;
    }
    .footer-content {
    	flex-wrap: wrap;
    }
    .rules{
    	max-width: 720px;
    	padding: 52px 47px 52px;
    }
    .video-frame{
    	height: 369px;
    }
    .mailing {
    	margin-top: 82px;
    }
    .contacts, .social-network {
    	width: 50%;
    }
}

/* Small: 577px - 768px */
@media (max-width: 768px) {
	.container {
		max-width: 540px;
	}
	.menu {
		display: none;
	}
	.call {
		display: block;
	}
	.nav {
		padding: 22px 0;
	}
	.offer__title {
	font-size: 38px;
	}
	.section-info__title {
		font-size: 28px;
	}
	.services__img {
		margin-right: 24px;
	}
	.portfolio__item {
		width: 100%;
	}
	.portfolio__item:not(:last-of-type) {
    margin-bottom: 30px;
    }
	.portfolio {
		margin-top: 70px;
		justify-content: center;
	}
	.achievements {
		flex-wrap: wrap;
		justify-content: center;
	}
	.achievements__item {
		width: 25%;
		margin-bottom: 24px;
	}
	.rules{
    	max-width: 540px;
    	padding: 55px 22px 60px;
    }
    .video-frame {
    	height: 231px;
    }
    .social-network {
    	margin-top: 64px;
    }
    .contacts, .social-network {
    	width: 100%;
    }

}

/* Extra small: 461 - 576px */
@media (max-width: 576px) {
	.container {
		padding: 0 15px;
		width: 100%;
	}
	.offer-wrapper {
		padding: 60px 0;
	}
}

/* New breakpoint: 0px (320px) - 450px */
@media (max-width: 460px) {
	.services__item {
		display: block;
	}
	.services__img {
		max-width: 100%;
        margin: 0 0 25px 0;
	}
	.offer__title {
		font-size: 30px;
	}
	.services__title {
		font-size: 17px;
	}
	.section-info__title {
		font-size: 25px;
	}
	.integration {
        padding: 85px 0;
    }
    .section-portfolio {
     	padding: 85px 0 ;
	}
	.rules {
    	max-width: 300px;
    	padding: 55px 10px 60px;
	}
	.achievements {
		justify-content: space-around;
	}
	.achievements__item {
     	width: 100px;
	}
	.video-frame {
    	height: 200px;
	}
}